.myButton {
  margin: 5px;
  padding: 10px 20px;
  background-color: rgb(163, 163, 195);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

/* стили сработают при наведении мышкой на кнопку */
.myButton:hover {
  background-color: rgba(163, 163, 195, 0.85);
}

/* стили сработают при нажатии на кнопку */
.myButton:active {
  background-color: rgb(29, 29, 94);
  color: white;
}
